QListWidget {
    outline: 0px;
    color: #ffffff;
    background-color: #111111;
    padding: 5px 0;
}


QListWidget::Item {
    padding: 10px 0;
    font-size: 16px;
}

QListWidget::Item:selected {
    background: #fafafc;
    color: blue;
    border-left: 3px solid red;
}


QPushButton {
    background: #2b272d;
    color: white;
    padding: 5px 0;
    font-size: 14px;
    font-family: Roboto, Arial, sans-serif;
    font-weight: bold;
    height: 25px;
    border: #111111;
}

QPushButton:pressed {
    color: red;
}